.checkbox {
  margin-right: 10px;
  height: 20px;
  width: 20px;
  border: #9abbcE solid 1px;

  @media (max-width: 650px) {
    height: 15px;
    margin-right: 5px;
  }

  @media (max-width: 515px) {
    height: 10px;
    margin-right: 0;
  }
}

.text {
  font-size: 13px;
  color: #4a4a4a;
  font-weight: 400;

  @media (max-width: 650px) {
    font-size: 10px;
  }

  @media (max-width: 515px) {
    font-size: 10px;
    text-align: center;
  }
}