.filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 500px;
  height: 50px;
  margin-bottom: 20px;

  @media (max-width: 900px) {
    width: 400px;
  }

  @media (max-width: 515px) {
    width: 355px;
  }
}

.filter {
  border: 1px #DFE5EC solid;
  height: 50px;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  @media (max-width: 900px) {
    font-size: 10px;
  }
}

.selected {
  color: #ffffff;
  background-color: #2196f3;
}

.filter:first-of-type {
  border-radius: 3px 0px 0px 3px;
}

.filter:last-of-type {
  border-radius: 0px 3px 3px 0px;
}